#viz svg{
    font:10px sans-serif;
  
}
.line {
    fill:none;
    stroke: blue;
    stroke-width: 2px;

}
.overlay{
    fill:none;
    pointer-events: all;

}

    focus circle{
        fill:none;
        stroke: lightblue;
    }

    
